

@model BookingApp.Models.Room


<form asp-controller="Room" asp-action="Add" class="form">
 
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name *</label>
        <input type="text" class="form-control" required asp-for="FirstName" />
    </div>

    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name *</label>
        <input type="text" class="form-control" required asp-for="LastName" />
    </div>

    <div class="mb-3">
        <label for="RoomType" class="form-label">Room Type *</label>
        <select id="RoomType" class="form-select" asp-for="RoomType">
            <option selected disabled>Select an option</option>
            <option value="@RoomType.Double.ToString()">Double</option>
            <option value="@RoomType.Single.ToString()">Single</option>
            <option value="@RoomType.MasterEnsuit.ToString()">MasterEnsuit</option>
            <option value="@RoomType.Suit.ToString()">Suit</option>
        </select>
        <span class="text-danger" asp-validation-for="RoomType"></span>
    </div>


    <div class="mb-3">
        <label for="checkin" class="form-label">Check in *</label>
        <input type="date" class="form-control" asp-for="checkin" required min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="mb-3">
        <label for="checkout" class="form-label">Check Out *</label>
        <input type="date" class="form-control" required asp-for="checkout" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
