

<script src="/lib/jquery//dist/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
@if (TempData["Notification"] != null)
{

    <script type="text/javascript ">

        toastr.success('@TempData["Notification"]');
    </script>
}

@model List<Room>;


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Room Type</th>
            <th scope="col">Check-in</th>
            <th scope="col">Check-out</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.FirstName</td>
                <td>@room.LastName</td>
                <td>@room.RoomType</td>
                <td>@room.checkin</td>
                <td>@room.checkout</td>
                <td>
                <td>
                    <a asp-controller="Room" asp-action="Edit" asp-route-id="@room.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger">Delete</a>


                </td>

            </tr>
        }
    </tbody>
</table>




		</tbody>


	</table>


